<%- include("partials/header.ejs") %>

    <section class="getStarted extraPages">

        <div class="box">

            <h1 class="heading">lets get started</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum ratione voluptatibus pariatur
                mollitia deleniti nobis debitis voluptatem sequi minus quisquam totam quaerat quibusdam provident</p>
            <br>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam eius rem ipsum quis necessitatibus qui
                nostrum ea, expedita sunt, sapiente maiores! Quae animi ab, aliquam ipsum expedita et asperiores
                cupiditate.</p>
            <br><br>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse modi delectus quis dolorum nisi corrupti
                repudiandae nihil sit minima tenetur inventore commodi reiciendis, rem voluptate rerum quisquam
                recusandae quo ratione dolorem porro optio iusto! Magnam a quae vel ex doloribus in ipsam culpa nam.
                Aperiam itaque est doloremque a inventore neque beatae fugiat omnis nulla praesentium. Dicta minima</p>
            </div>
    </section>

    <%- include("partials/footer.ejs") %>