<%- include("partials/header.ejs") %>

<!-- home section starts here -->
<section class="home" id="home">

    <h1>Education from home</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem nihil quibusdam laudantium cumque.
        Eligendi sint incidunt quod qui ratione quos?</p>
    <a href="/getStart"><button class="btn">get started</button></a>

    <div class="shape"></div>
</section>
<!-- home section ends here -->

<!-- about section starts here -->
<section class="about" id="about">

    <div class="image">
        <img src="assets/Studying-cuate.png" alt="a girl who is studying. An illustration img">
    </div>

    <div class="content">
        <h3>why choose us?</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi quae consectetur quod temporibus ea atque
            quo sequi, impedit repellendus maxime!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi sit eos vel ab odit? Quia molestias
            aliquid numquam dolor vitae molestiae tempore, excepturi eligendi similique mollitia recusandae
            consequuntur, culpa non.</p>
        <a href="/learn" ><button class="btn">learn more</button></a>
    </div>
</section>
<!-- about section ends here -->

<!-- course section starts here -->
<section class="course" id="course">

    <h1 class="heading">our popular courses</h1>

    <div class="box-container">

        <div class="box">
            <img src="assets/course1.jpg"
                alt="Young attractive woman with beautiful face and smile making notes in notebook, using mobile phone for project. Cute and positive female holding smartphone gadget. Online education">
            <a href="/buy" ><button class="price">$50 <br>buy</button></a>
            <div class="content">

                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
                <a href="#" class="title">learn front development</a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis obcaecati
                    delenititempore. Necessitatibus a alias eaque recusandae nam assumenda?</p>
                <div class="info">
                    <h3><i class="far fa-clock"></i> 2 hours</h3>
                    <h3><i class="far fa-calendar-alt"></i> 6 months</h3>
                    <h3><i class="fas fa-book"></i> 12 module</h3>
                </div>
            </div>
        </div>

        <div class="box">
            <img src="assets/course2.jpg"
                alt="Young attractive woman with beautiful face and smile making notes in notebook, using mobile phone for project. Cute and positive female holding smartphone gadget. Online education">
            <a href="/buy" ><button class="price<a href="#" ><button class="price">$50 <br>buy</button></a>
            <div class="content">

                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
                <a href="#" class="title">learn front development</a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis obcaecati
                    delenititempore. Necessitatibus a alias eaque recusandae nam assumenda?</p>
                <div class="info">
                    <h3><i class="far fa-clock"></i> 2 hours</h3>
                    <h3><i class="far fa-calendar-alt"></i> 6 months</h3>
                    <h3><i class="fas fa-book"></i> 12 module</h3>
                </div>
            </div>
        </div>

        <div class="box">
            <img src="assets/course3.jpg"
                alt="Young attractive woman with beautiful face and smile making notes in notebook, using mobile phone for project. Cute and positive female holding smartphone gadget. Online education">
            <a href="/buy" ><button class="price">$50 <br>buy</button></a>
            <div class="content">

                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
                <a href="#" class="title">learn front development</a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis obcaecati
                    delenititempore. Necessitatibus a alias eaque recusandae nam assumenda?</p>
                <div class="info">
                    <h3><i class="far fa-clock"></i> 2 hours</h3>
                    <h3><i class="far fa-calendar-alt"></i> 6 months</h3>
                    <h3><i class="fas fa-book"></i> 12 module</h3>
                </div>
            </div>
        </div>

        <div class="box">
            <img src="assets/course4.jpg"
                alt="Young attractive woman with beautiful face and smile making notes in notebook, using mobile phone for project. Cute and positive female holding smartphone gadget. Online education">
            <a href="/buy" ><button class="price">$50 <br>buy</button></a>
            <div class="content">

                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
                <a href="#" class="title">learn front development</a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis obcaecati
                    delenititempore. Necessitatibus a alias eaque recusandae nam assumenda?</p>
                <div class="info">
                    <h3><i class="far fa-clock"></i> 2 hours</h3>
                    <h3><i class="far fa-calendar-alt"></i> 6 months</h3>
                    <h3><i class="fas fa-book"></i> 12 module</h3>
                </div>
            </div>
        </div>

        <div class="box">
            <img src="assets/course5.jpg"
                alt="Young attractive woman with beautiful face and smile making notes in notebook, using mobile phone for project. Cute and positive female holding smartphone gadget. Online education">
            <a href="/buy" ><button class="price">$50 <br>buy</button></a>
            <div class="content">

                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
                <a href="#" class="title">learn front development</a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis obcaecati
                    delenititempore. Necessitatibus a alias eaque recusandae nam assumenda?</p>
                <div class="info">
                    <h3><i class="far fa-clock"></i> 2 hours</h3>
                    <h3><i class="far fa-calendar-alt"></i> 6 months</h3>
                    <h3><i class="fas fa-book"></i> 12 module</h3>
                </div>
            </div>
        </div>

        <div class="box">
            <img src="assets/course6.jpg"
                alt="Young attractive woman with beautiful face and smile making notes in notebook, using mobile phone for project. Cute and positive female holding smartphone gadget. Online education">
            <a href="/buy" ><button class="price">$50 <br>buy</button></a>
            <div class="content">

                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
                <a href="#" class="title">learn front development</a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis obcaecati
                    delenititempore. Necessitatibus a alias eaque recusandae nam assumenda?</p>
                <div class="info">
                    <h3><i class="far fa-clock"></i> 2 hours</h3>
                    <h3><i class="far fa-calendar-alt"></i> 6 months</h3>
                    <h3><i class="fas fa-book"></i> 12 module</h3>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- course section ends here -->

<!-- teachers section starts here  -->
<section class="teacher" id="teacher">

    <h1 class="heading">our expert teachers</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas sequi in culpa dignissimos labore, velit
        dolore ducimus atque architecto, incidunt, sint illo laborum quod neque repellat est vitae exercitationem
        mollitia!</p>
    <a href="/learn"><button class="btn">learn more</button></a>

</section>
<!-- teachers section ends here -->

<!-- contact section starts here -->
<section class="contact" id="contact">
    <h1 class="heading">contact us</h1>

    <div class="row">

        <form action="/contact" method="post">
            <input type="text" placeholder="full name" class="box" name="name">
            <input type="email" placeholder="your email" class="box" name="email">
            <input type="password" placeholder="your password" class="box" name="password">
            <input type="number" placeholder="your number" class="box" name="number">
            <textarea name="" id="" cols="30" rows="10" class="box address" placeholder="your address" name="address"></textarea>
            <input type="submit" value="send now" class="btn">
        </form>

        <div class="image">
            <img src="assets/kindpng_2548542.png" alt="a girl">
        </div>
    </div>
</section>
<!-- contact section ends here -->

<%- include("partials/footer.ejs") %>